global:
  scrape_interval: 15s

scrape_configs:
  - job_name: services
    static_configs:
      {% for service in services | services_with_prometheus_endpoints %}
      - targets: ["{{ service.endpoint }}"]
        labels:
          service: "{{ service.name }}"
          host: "homeserver"
      {% endfor %}

  - job_name: homeserver
    static_configs:
      - targets: ["homeserver.trep.cloud:9100"]
        labels:
          host: "homeserver"

  - job_name: pfsense
    static_configs:
      - targets: ["pfsense.trep.cloud:9100"]
        labels:
          host: "pfsense"

  - job_name: snmp_pfsense
    static_configs:
      - targets: ["pfsense.trep.cloud"] # SNMP device
        labels:
          host: "pfsense"
    metrics_path: "/snmp"
    params:
      module: [ pfsense ]
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116  # The SNMP exporter's real hostname:port.